# Backend
/backend/node_modules
/backend/dist
/backend/logs
/backend/.env

# Frontend
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/build
/frontend/storybook-static
/frontend/.env*.local

# Root
/node_modules
.DS_Store
*.log
coverage/
